<!DOCTYPE html>
<html>
    <head>
        <title>
            Conversor de numero binarios a numeros decimales
        </title>
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <div class="container">
            <h1>
                Conversor de numero binarios a numeros decimales
            </h1>
            <form>
                <label for="binary_number">Ingresa el numero binario que deseas convertir</label>
                <input type="text" id="binary_number" name="binary_number"><br>

                <div class="button-container">
                    <button type="button" class="button-convert">Convertir</button>
                </div>

                <label for="decimal-number">El numero en decimal es:</label>
                <input type="text" id="decimal-number" name="decimal_number" readonly>
            </form>
        </div>
    </body>
</html>
